main {
  align-content: center;
  box-sizing: border-box;
  hyphens: auto;
  line-height: 1.65;
  margin: 0 auto;
  max-width: 680px;
  height: 100vh;
  padding: 36px 0 18px 0;
  text-align: center;
}
